<ion-header class="ion-no-border">
    <ion-toolbar class="fondo-content">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{pedido.cliente.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Datos cliente -->
    <ion-card>
        <ion-list-header>
            <ion-label color="primary">Cliente</ion-label>
        </ion-list-header>
        <ion-item *ngIf="pedido.cliente.telefono" lines="none">
            <ion-label>{{pedido.cliente.nombre}}: {{pedido.cliente.telefono}}</ion-label>
        </ion-item>
    </ion-card>
    <!-- Lista productos -->
    <ion-card>
        <ion-list-header>
            <ion-label color="primary">Productos</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let producto of pedido.productos let i = index" lines="full">
            <ion-badge color="primary" slot="start">{{producto.cantidad}}</ion-badge>
            <ion-thumbnail slot="start">
                <img [src]="producto.url">
            </ion-thumbnail>
            <ion-label>
                <h2 class="ion-text-wrap">{{producto.nombre | titlecase}}
                    <ion-text color="primary">{{producto.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</ion-text>
                </h2>
                <p>{{producto.observaciones | titlecase}}</p>
                <div *ngFor="let item of producto.complementos">
                    <h4>+ {{item.titulo | titlecase}}</h4>
                    <p style="color: var(--ion-color-primary); margin-left: 0.5rem;" *ngFor="let com of item.complementos">{{com.nombre}}: {{com.precio | currency:'CAD':'symbol-narrow':'1.0-2'}}</p>
                </div>
            </ion-label>
        </ion-item>
    </ion-card>
    <!-- Detalles entrega -->
    <ion-card *ngIf="pedido.recolectado">
        <ion-list-header>
            <ion-label color="primary">Entregar en:</ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap">{{pedido.cliente.direccion.direccion}}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-button slot="end" (click)="verMapa()" shape="round">
                Ver mapa
            </ion-button>
        </ion-item>
    </ion-card>
</ion-content>
<ion-footer *ngIf="pedido.recolectado || !esAsociado">
    <ion-toolbar style="text-align: center;" *ngIf="pedido.formaPago.forma === 'efectivo'">
        <h1 class="primario" id="cuenta">Pago en efectivo: {{pedido.total | currency:'CAD':'symbol-narrow':'1.0-2'}}</h1>
    </ion-toolbar>
    <ion-toolbar style="margin-bottom: 1rem;">
        <div class="caja_boton" id="caja">
            <div class="text_entregar">
                Entregar >>>
            </div>
            <div class="boton" id="boton">
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
<ion-footer class="ion-no-border" *ngIf="!pedido.recolectado && esAsociado">
    <ion-toolbar style="margin-bottom: 1rem;" class="">
        <div class="caja_boton" id="caja_rec">
            <div class="text_entregar">
                Tengo los productos >>>
            </div>
            <div class="boton" id="rec">
            </div>
        </div>
    </ion-toolbar>
</ion-footer>