<ion-header class="ion-no-border">
    <ion-toolbar class="fondo-content">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="chevron-back"></ion-icon>
            </ion-button>
        </ion-buttons>        
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Datos restaurante -->
    <ion-card *ngIf="esAsociado && pedido">
        <app-card-negocio [item]="pedido" (call)="llamar($event)" (chat)="verChat($event.idCliente, $event.idPedido, $event.nombreCliente)" (map)="verMapa($event)" [inPedido]></app-card-negocio>
        <div class="caja_boton" id="caja_llegue" *ngIf="!pedido.repartidor_llego" [style.visibility]="hasNet ? 'visible' : 'hidden'">
            <div class="text_entregar">
                LLEGUÉ AL PUNTO 1
                <ion-icon name="play-forward" color="primary"></ion-icon>
            </div>
            <div class="boton" id="llegue_btn"></div>
        </div>
        <div *ngIf="!hasNet" style="text-align: center; color: red;" class="ion-text-wrap">Por favor revisa tu conexión a internet</div>
    </ion-card>
    <!-- Lista productos -->
    <ion-card *ngIf="!esAsociado && pedido || pedido.repartidor_llego && pedido">
        <ion-item lines="full">
            <h2>Productos</h2>
        </ion-item>
        <ion-item *ngFor="let producto of pedido.productos let i = index; let odd = odd" [ngClass]="{'contraste': odd}" lines="none">
            <ion-badge color="primary" slot="start">{{producto.cantidad}}</ion-badge>
            <ion-thumbnail slot="start">
                <img [src]="producto.url">
            </ion-thumbnail>
            <ion-label>
                <h2 class="ion-text-wrap" style="margin-left: 0;">{{producto.nombre | titlecase}}</h2>
                <p>{{producto.observaciones | titlecase}}</p>
                <div *ngFor="let item of producto.complementos">
                    <h4>+ {{item.titulo | titlecase}}</h4>
                    <p style="color: var(--ion-color-primary); margin-left: 0.5rem;" *ngFor="let com of item.complementos">{{com.nombre}}</p>
                </div>
            </ion-label>
            <ion-checkbox slot="end" color="primary" [(ngModel)]="producto.checked" (ionChange)="readyToLeave()" *ngIf="!pedido.recolectado"></ion-checkbox>
        </ion-item>
        <div class="caja_boton" id="caja_recoleccion" *ngIf="!pedido.recolectado && esAsociado" [style.visibility]="hasNet ? 'visible' : 'hidden'">
            <div class="text_entregar">
                TENGO LOS PRODUCTOS >>>
            </div>
            <div class="boton" id="recoleccion_btn">
            </div>
        </div>
        <div *ngIf="!hasNet" style="text-align: center; color: red;" class="ion-text-wrap">Por favor revisa tu conexión a internet</div>
    </ion-card>
    <!-- Detalles entrega -->
    <ion-card *ngIf="pedido.recolectado && pedido || !esAsociado && pedido">
        <app-card-cliente [item]="pedido" (call)="llamar($event)" (chat)="verChat($event.idCliente, $event.idPedido, $event.nombreCliente)" (map)="verMapa($event)" [inPedido]="true"></app-card-cliente>
        <div *ngIf="pedido.recolectado || !esAsociado" [style.visibility]="hasNet ? 'visible' : 'hidden'">
            <div style="width: 100%; text-align: center;">
                <h1 style="font-weight: 700; color: black;" id="cuenta" *ngIf="pedido.formaPago.forma === 'efectivo'">Pago en efectivo: {{pedido.total | currency:'CAD':'symbol-narrow':'1.0-2'}}</h1>
            </div>
            <div class="caja_boton" id="caja">
                <div class="text_entregar">
                    ENTREGAR >>>
                </div>
                <div class="boton" id="boton">
                </div>
            </div>
        </div>
        <div *ngIf="!hasNet" style="text-align: center; color: red;" class="ion-text-wrap">Por favor revisa tu conexión a internet</div>
    </ion-card>
</ion-content>

<app-no-network></app-no-network>
