<ion-header class="ion-no-border fondo-header">
    <ion-toolbar class="fondo-header">
        <ion-buttons slot="start" *ngIf="esAsociado">
            <ion-button (click)="cerrarSesion()">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{nombre | titlecase}}
        </ion-title>
        <ion-buttons slot="end" *ngIf="esAsociado">
            <ion-button>
                <ion-toggle color="success" [(ngModel)]="activo" (ionChange)="toogleActive($event.detail.checked)"></ion-toggle>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Pedidos nuevos -->
    <ion-card *ngFor="let item of pedidos_nuevos; let i = index">
        <ion-list-header>
            <ion-label color="primary">Recoger en:
                <ion-text color="dark">
                    <strong>{{item.negocio}}</strong>
                </ion-text>
            </ion-label>
            <ion-badge color="primary" mode="ios" style="margin-right: 1rem;">00:{{item.segundos_left | number:'1.0-0'}}</ion-badge>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap" color="medium">{{item.negocio_direccion}}</ion-label>
        </ion-item>
        <ion-list-header>
            <ion-label color="primary">Entregar a:
                <ion-text color="dark">
                    {{item.cliente}}
                </ion-text>
            </ion-label>
        </ion-list-header>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap" color="medium">{{item.cliente_direccion}}</ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-button slot="end" fill="outline" (click)="verMapaNuevoPedido(i)">
                Ver mapa
            </ion-button>
        </ion-item>
        <ion-button (click)="tomarServicio(item)" expand="block" shape="round" class="boton-margen" style="margin-top: 0.75rem; margin-bottom: 0.75rem;">
            Tomar pedido. Gana {{item.ganancia + item.propina | currency:'CAD':'symbol-narrow':'1.0-2'}}
        </ion-button>
    </ion-card>


    <!-- Pedidos en curso-->
        <!-- Repartidores asociados -->
    <ng-container *ngIf="esAsociado; else asocTemp">
        <ion-card *ngFor="let item of pedidos">
            <!-- Camino a la tienda -->
            <ng-container *ngIf="!item.recolectado; else recolectadoTemp">             
                <ion-list-header>
                    <ion-label>Recoger en: <strong>{{item.negocio.nombreNegocio}}</strong></ion-label>
                </ion-list-header>
                <ion-item lines="none" detail (click)="verPedido(item)">
                    <ion-label class="ion-text-wrap" color="medium">{{item.negocio.direccion.direccion}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-button slot="start" (click)="verMapa(item.negocio)" fill="clear">
                        Ver mapa
                    </ion-button>
                    <ion-button *ngIf="item.negocio.telefono" slot="end" fill="outline" (click)="llamar(item.negocio.telefono)" fill="clear">
                        Llamar
                    </ion-button>
                    <ng-container *ngIf="item.unRead > 0; else chatTemplate" shape="round">
                        <ion-button slot="end" (click)="verChat(item.cliente.uid, item.id, item.cliente.nombre)">
                            Chat {{item.unRead}}
                        </ion-button>
                    </ng-container>
                    <ng-template #chatTemplate>
                        <ion-button slot="end" (click)="verChat(item.cliente.uid, item.id, item.cliente.nombre)" shape="round" class="ion-text-wrap">
                            Chat con el cliente
                        </ion-button>
                    </ng-template>
                </ion-item>
            </ng-container>
                <!-- Camino al Cliente -->
            <ng-template #recolectadoTemp>
                
            </ng-template>
        
        </ion-card>
    </ng-container>
    <!-- Repartidores propios -->
    <ng-template #asocTemp>        
        <ion-card *ngFor="let item of pedidos">
            <ion-list-header>
                <ion-label color="primary">{{item.cliente.nombre}}</ion-label>
            </ion-list-header>
            <ion-item lines="none" detail (click)="verPedido(item)">
                <ion-label class="ion-text-wrap" color="medium">{{item.cliente.direccion.direccion}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-button slot="start" (click)="verMapa(item.cliente)" fill="clear">
                    Ver mapa
                </ion-button>
                <ion-button *ngIf="item.cliente.telefono" slot="end" fill="outline" (click)="llamar(item.cliente.telefono)" fill="clear">
                    Llamar
                </ion-button>
                <ng-container *ngIf="item.unRead > 0; else chatTemplate" shape="round">
                    <ion-button slot="end" (click)="verChat(item.cliente.uid, item.id, item.cliente.nombre)">
                        Chat {{item.unRead}}
                    </ion-button>
                </ng-container>
                <ng-template #chatTemplate>
                    <ion-button slot="end" (click)="verChat(item.cliente.uid, item.id, item.cliente.nombre)" shape="round">
                        Chat
                    </ion-button>
                </ng-template>
            </ion-item>
        </ion-card>
    </ng-template>
        


    <!-- No hay pedidos -->
    <ion-item lines="none" style="text-align: center; margin-top: 1rem;" *ngIf="pedidos.length === 0 && pedidos_nuevos.length === 0 && activo">
        <ion-label class="ion-text-wrap" color="medium">Por el momento no tienes pedidos activos</ion-label>
    </ion-item>    

    <!-- Inactivo -->
    <ion-item lines="none" style="text-align: center; margin-top: 1rem;" *ngIf="!activo">
        <ion-label class="ion-text-wrap">Entra en Modo Activo para empezar a recibir pedidos</ion-label>
    </ion-item>
</ion-content>