<ion-header class="ion-no-border fondo-header">
    <ion-toolbar class="fondo-header" style="border-bottom: 2px var(--ion-color-primary) solid;">
        <ion-buttons slot="start">
            <ion-button (click)="cerrarSesion()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="font-weight: 700;">
            {{nombre | titlecase}}
        </ion-title>
        <ion-buttons slot="end" *ngIf="esAsociado">
            <ion-button>
                <ion-toggle color="success" [(ngModel)]="activo" (ionChange)="toogleActive($event.detail.checked)"></ion-toggle>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Refresher -->
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin = "100" pullMax = "200" (ionRefresh)="init($event)" class="fondo-content">
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          pullingText="Arrastra para actualizar pedidos"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>

    <!-- Pedidos nuevos -->
    <ion-card *ngFor="let item of pedidos_nuevos; let i = index">
        <ion-item lines="full">
            <h2>Recoger en: {{item.negocio}}</h2>
            <ion-badge slot="end" class="gradient--" mode="ios" style="margin-right: 1rem;" *ngIf="item.solicitudes < 3">00:{{item.segundos_left | number:'1.0-0'}}</ion-badge>
        </ion-item>
        <ion-item lines="none" (click)="verMapaNuevoPedido(i)">
            <ion-label class="ion-text-wrap">{{item.negocio_direccion}}</ion-label>
            <ion-icon slot="end" color="primary" name="map"></ion-icon>
        </ion-item>
        <ion-item lines="full">
            <div style="width: 100%; text-align: center;">
                <h2 style="font-weight: 700; color: black;">A: {{item.distancia / 1000 | number:'1.0-2'}}kms</h2>
            </div>
        </ion-item>
        <ng-container *ngIf="!item.solicitado; else solTemp">            
            <ion-button (click)="tomarServicio(item)" expand="block" shape="round" class="boton-margen gradient--" style="margin-top: 0.75rem; margin-bottom: 0.75rem;">
                Tomar pedido. Gana {{item.ganancia + item.propina | currency:'CAD':'symbol-narrow':'1.0-2'}}
            </ion-button>                    
        </ng-container>
        <ng-template #solTemp>
            <ion-item lines="none" style="text-align: center;">
                <ion-spinner name="dots" color="primary" style="font-size: large; margin: auto"></ion-spinner>
            </ion-item>
        </ng-template>
    </ion-card>

    <!-- Pedidos en curso-->
        <!-- Repartidores asociados -->
    <ng-container *ngIf="esAsociado; else asocTemp">
        <ion-card *ngFor="let item of pedidos">
            <!-- Camino a la tienda -->
            <ng-container *ngIf="!item.recolectado; else recolectadoTemp">
                <app-card-negocio [item]="item" (call)="llamar($event)" (chat)="verChat($event.idCliente, $event.idPedido, $event.nombreCliente)" (map)="verMapa($event)" (pedido)="verPedido($event)"></app-card-negocio>
            </ng-container>
                <!-- Camino al Cliente -->
            <ng-template #recolectadoTemp>
                <app-card-cliente [item]="item" (call)="llamar($event)" (chat)="verChat($event.idCliente, $event.idPedido, $event.nombreCliente)" (map)="verMapa($event)" (pedido)="verPedido($event)"></app-card-cliente>
            </ng-template>
        </ion-card>
    </ng-container>
    <!-- Repartidores propios -->
    <ng-template #asocTemp>        
        <ion-card *ngFor="let item of pedidos">
            <app-card-cliente [item]="item" (call)="llamar($event)" (chat)="verChat($event.idCliente, $event.idPedido, $event.nombreCliente)" (map)="verMapa($event)" (pedido)="verPedido($event)"></app-card-cliente>
        </ion-card>
    </ng-template>
        


    <!-- No hay pedidos -->
    <ion-item lines="none" style="text-align: center; margin-top: 1rem;" *ngIf="pedidos.length === 0 && pedidos_nuevos.length === 0 && activo">
        <ion-label class="ion-text-wrap" color="medium">Por el momento no tienes pedidos activos</ion-label>
    </ion-item>    

    <!-- Inactivo -->
    <div class="centrar" *ngIf="!activo && esAsociado">
        <ion-item lines="none" style="text-align: center; margin-top: 1rem;">
            <ion-label class="ion-text-wrap">Entra en Modo Activo para empezar a recibir pedidos</ion-label>
        </ion-item>
        <ion-button (click)="toogleActive(true)" class="gradient--" shape="round" style="margin: auto">
            Activar mi sesión
        </ion-button>
    </div>
</ion-content>

<app-no-network></app-no-network>