.fondo-header{
    --background: #e7e7e7e5;
}

.centrar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
  }
  
  .badge-two {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 3px;
    --padding-end: 3px;
  }

  h2{
    font-weight: 700;
    color: black;
    margin-left: 0.5rem;
}
